
.project-display {
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: center;
    align-items: center;
}

.project-display-name {
    font-size: 3rem;
    color: var(--main-text);
    font-family: var(--secondary-font);
}