.about-page {
  padding: 150px;
}

.about-page-text {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
}

.about-page-text a {
  color: var(--main-accent);
  text-decoration: none;
}

.about-page-text a:hover {
  color: var(--main-hover);
  text-decoration: none;
}

.about-page-intro {
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .about-page {
    padding: var(--margin-large);
  }
}
