.Button {
    height: 60px;
    width: 60px;
    background-color: var(--main-accent);
    border: none;
    border-radius: 50%;
    outline: none;
    transition: ease-in-out .2s;
    padding-left: 12px;
}

.Button_large {
    width: 100%;
    border-radius:10px;
    font-size: 2rem;
    color: white;
}

.Button:hover {
    background-color: var(--main-hover);
}