.loading-page {
  height: 100%;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .loading-page {
    justify-content: center;
    margin: 50px;
    width: 100vw;
  }
}
