.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 300px;
    width: 20%;
    height: calc(100vh - 60px);
    border-right: 2px solid var(--sub-text);
    padding: var(--margin-large);
    color: var(--main-text);
}