.sidebar-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--main-font);
    padding-bottom: 50px;
}

.sidebar-title--description {
    text-align: left;
}

.sidebar-title--name {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
}

.sidebar-title--title {
    font-size: 1.5rem;
    font-weight: 600;
}