.contact-page {
  width: 100%;
  margin: 10%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.contact-page-container {
  margin: 20px;
  min-width: 60%;
  max-width: 700px;
  max-height: 700px;
}

@media screen and (max-width: 600px) {
  .contact-page-container {
    width: calc(100vw - (var(--margin-large) * 2));
  }
}
