.sidebar-social {
    display: flex;
    align-items: center;
}

.sidebar-social--hr {
    height: 1px;
    background-color: var(--sub-text);
    width: 100px;
    margin-right: var(--margin-main);
    margin-left: -32px;
}