* {
  box-sizing: border-box;
  font-family: var(--main-font);
}

.App {
  display: flex;
  text-align: center;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}

:root {
  --main-bg: #ffffff;
  --secondary-bg: #eceff4;
  --main-accent: #bf616a;
  --main-text: #4c566a;
  --sub-text: #d8dee9;
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
  --margin-small: 8px;
  --margin-main: 16px;
  --margin-large: 32px;
  --main-hover: #a9444e;
}

.semi-bold {
  font-weight: 600;
}

input {
  box-sizing: border-box;
}
