.App {
  text-align: center;
}

:root {
  --main-bg: #ffffff;
  --secondary-bg: #eceff4;
  --main-accent: #bf616a;
  --main-text: #4c566a;
  --sub-text: #d8dee9;
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
}

.semi-bold {
  font-weight: 600;
}

.accent-color {
  color: var(--main-accent);
}
