.project-card {
    height: 100px;
    width: 350px;
    border: var(--sub-text) 1px solid;
    margin: 20px;
    border-radius: 10px;
    display: flex;
}

.project-card-title {
    font-family: var(--secondary-font);
    padding: var(--margin-small);
    font-size: 2rem;
    color: var(--main-text);
    text-align: left;
}