.project-card {
  width: 350px;
  margin: var(--margin-main);
  border-radius: 10px;
  color: var(--main-text);
  transition: all 2 ease;
}

.project-card-inner {
  display: flex;
  flex-direction: column;
  padding: var(--margin-main);

  height: 100%;
  justify-content: space-around;
}

.project-card-title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: left;
}

.isActive {
  background-color: var(--main-accent);
  color: var(--main-bg);
  animation: 0.4s active;
}

@keyframes active {
  from {
    background-color: white;
    color: var(--main-text);
  }

  to {
    background-color: var(--main-accent);
    color: (var--main-bg);
  }
}

@media screen and (max-width: 600px) {
  .project-card {
    width: calc(100vw - var(--margin-main) * 2);
  }
}
