.text-input {
    width: 100%;
    background-color: var(--secondary-bg);
    border: none;
    height: 60px;
    border-radius: var(--margin-small);
    margin: var(--margin-small) 0px;
    padding: var(--margin-small) var(--margin-main);
    font-size: 1rem;
}

.text-input:focus {
    outline: none;
    border-radius: var(--margin-small);
}

.text-area {
    height: 400px;
    resize: none;
    padding: var(--margin-main) var(--margin-main);
}

.text-input--div-error {
    height: var(--margin-main);
    margin-top: -8px;
    color: var(--main-accent);
    text-align: end;
}

.text-input--error {
    box-shadow: 0 0 0 1px var(--main-accent);
}