.text-input {
    width: 100%;
    background-color: var(--secondary-bg);
    border: none;
    height: 50px;
    border-radius: var(--margin-small);
    margin: var(--margin-small) 0px;
    padding: var(--margin-small) var(--margin-main);
    font-size: 1rem;
}

.text-input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--main-accent);
    border-radius: var(--margin-small);
}

.text-area {
    height: 400px;
    resize: none;
}