.projects-list {
  overflow: scroll;
  height: 100vh;
  margin: var(--margin-main);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media screen and (max-width: 600px) {
  .projects-list {
    margin: 0;
    height: initial;
    overflow: inital;
  }
}
